<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Customer information</h1>
<a th:href="@{/}">Home</a>
<br/>
<form th:action="@{/saveCustomer}" method="post" th:object="${customer}">
    <label for="customer_id">Customer id:</label>
    <input type="text" name="customerId" th:field="*{customer_id}"/>
    <br/>
    <label for="name">Name:</label>
    <input type="text" name="name" th:field="*{name}"/>
    <br/>
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" th:field="*{last_name}"/>
    <br/>
    <label for="email">Email:</label>
    <input type="email" name="email" th:field="*{email}"/>
    <br/>
    <label for="birthday">Birthday:</label>
    <input type="date" name="birthday" th:field="*{birthday}"/>
    <br/>

    <input type="submit" name="saveCustomer" value="Save"/>

</form>

</body>
</html>